#about{
    margin-top:2rem;
    .about-content{
        display: grid;
        gap: 1rem;
        grid-template-columns: 3fr 4fr;
        .image-container{
            img{
                max-width: 100%;
            }
        }
        .text{
            p{
                margin-bottom: 2rem;
            }
            a{
                margin-right: 1rem;
            }
        }
    }
}

