@import '../../styles/config';

#project-showcase {
    height: 90rem;
    margin-top: 2rem;

    .container {
        height: 100%;
    }

    .showcase-area {
        height: 100%;
        // border: 1px solid $primary-color;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        overflow: auto;
    }
}


@media screen and (max-width:992px) and (min-width:521px) {
    #project-showcase {
        .showcase-area {
            grid-template-columns: repeat(2, 1fr);
        }

    }

}

@media screen and (max-width:520px) {
    #project-showcase {
        .showcase-area {
            grid-template-columns: repeat(1, 1fr);
        }

    }

}