@import "../../styles/config";

#project-details {

    .project {
        display: grid;
        gap:2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'heading heading'
            'cover content'
            'cover content'
            'cover content'
            'cat cat'
            'tech tech'
        ;

        .heading {
            grid-area: heading;
        
        }

        .cover {
            grid-area: cover;
            height:50rem;
            overflow: hidden;
            border-radius: 5px 5px 5px 5px;
            img{
                width: 100%;
                min-height: 100%;
                border-radius: 5px 5px 0 0;
            }
        }

        .content {
            grid-area: content;
          
        }

        .cat {
            grid-area: cat;
        }

        .tech {
            grid-area: tech;
        }

    }


    // The Close Button
    .close {
        position: absolute;
        right: 25px;
        top: 0;

        &:hover,
        &:focus {
            cursor: pointer;
            color: #960018;
        }

    }

}