@import "../../styles/config";

#project-popup {
    // modal background
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */

    // Modal Content Box
    .modal-content {
        background-color: $weird-wight;
        margin: 5% auto 10% auto;
        border: 1px solid #888888;
        width: 90%;
        min-height: 500px;
        position: relative;

    }

    // The Close Button
    .close {
        position: absolute;
        right: 25px;
        top: 0;

        &:hover,&:focus {
            cursor: pointer;
            color:#960018;
        }

    }

    /* Add Zoom Animation */
    .animate {
        animation: animatezoom 0.6s
    }
}


// animations

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}