#header {
    background-color: black;
    background-image:   linear-gradient(to bottom right,rgba(0,128,128,0.7),rgba(0,128,128,0.7)), url(../../assets/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    position: relative;
    
   
}